@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

    <section id="products">
        <div class="container">
            
            <div class="row" id="productrow">
                @await Component.InvokeAsync("Products",8)
                @*<partial name="_partialview" />*@
                <input type="hidden" name="name" value="@ViewBag.productcount" />

            </div>
            <div class="row mt-3 justify-content-center">
                <button id="loadmore" class="btn btn-success mb-5">Load more..</button>
            </div>
        </div>
    </section>

